In [2]:

## Data Analytics In Python  ->  ML  -> AI
##########################################
# descriptive Analysis
# Diagnostic Analysis: if a parameter is important to user or not
# Predictive Analysis: Machine Learning
# Prescriptive Analysis: probability of reliability of prediction and prerequistive actions

In [3]:
### PANDAS CONSIST OF :-
#1. series: 1-D data, single column data
#2. Dataframe: 2-D data, multi column data
#3. Panel: 3-D data

In [4]:
import pandas as pd

In [5]:
s1 = pd.Series([12,123,15,36,75,45])
s1

0     12
1    123
2     15
3     36
4     75
5     45
dtype: int64

In [6]:
s2 = pd.Series(['Hi','I','am','hemant'])
s2

0        Hi
1         I
2        am
3    hemant
dtype: object

In [7]:
df1 = pd.DataFrame({'a':[4,5,6,7,8,3,4],'b':['hi','hi','bye','go','hi','bye','go']})

df1

   a    b
0  4   hi
1  5   hi
2  6  bye
3  7   go
4  8   hi
5  3  bye
6  4   go

In [8]:
df1.size

14

In [9]:
df1.head(3)

   a    b
0  4   hi
1  5   hi
2  6  bye

In [10]:
df1.tail(2)

   a    b
5  3  bye
6  4   go

In [11]:
df1['new'] = pd.Series([6,2,54,7,3,67,3])

In [12]:
df1

   a    b  new
0  4   hi    6
1  5   hi    2
2  6  bye   54
3  7   go    7
4  8   hi    3
5  3  bye   67
6  4   go    3

In [13]:
df1[['b','new']][df1['new']%2 == 1]

     b  new
3   go    7
4   hi    3
5  bye   67
6   go    3

In [14]:
df1.describe(include='all')

               a    b        new
count   7.000000    7   7.000000
unique       NaN    3        NaN
top          NaN   hi        NaN
freq         NaN    3        NaN
mean    5.285714  NaN  20.285714
std     1.799471  NaN  27.783174
min     3.000000  NaN   2.000000
25%     4.000000  NaN   3.000000
50%     5.000000  NaN   6.000000
75%     6.500000  NaN  30.500000
max     8.000000  NaN  67.000000

In [15]:
# del df1['a']
df1.drop(['a'], axis=1, inplace = True)

In [16]:
df1

     b  new
0   hi    6
1   hi    2
2  bye   54
3   go    7
4   hi    3
5  bye   67
6   go    3

In [17]:
##Series/Dataframe
# - Create
# - access
# - new item Insert
# - Deletion

##Description
# info()
# unique()
# nunique()
# shape
# size
# count()
# describe()
# value_counts()
# head()
# tail()
# sample()


## Stats

In [18]:
## File Operations
##################
# read
    # pd.read_csv
    # pd.read_json
    # pd.read_excel
# write
    # df.to_csv()

In [29]:
suicide = pd.read_csv(r'suicide_data/State-wise Distribution_2021.csv')

In [35]:
suicide.sample(5)

,Category,State/UT,By Consuming Sleeping Pills - Male,By Consuming Sleeping Pills - Female,By Consuming Sleeping Pills - Transgender,By Consuming Sleeping Pills - Total,By Drowning - Male,By Drowning - Female,By Drowning - Transgender,By Drowning - Total,...,By Touching Electric Wire - Transgender,By Touching Electric Wire - Total,By Other Means - Male,By Other Means - Female,By Other Means - Transgender,By Other Means - Total,Total - Male,Total - Female,Total - Transgender,Total - Total
5,State,Goa,0,0,0,0,23,7,0,30,...,0,0,0,0,0,0,249,72,0,321
27,State,West Bengal,3,5,0,8,148,49,1,198,...,0,13,3113,1984,0,5097,8290,5209,1,13500
35,UT,Lakshadweep,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
15,State,Meghalaya,0,1,0,1,3,0,0,3,...,0,0,0,0,0,0,172,54,0,226
33,UT,Jammu and Kashmir,2,1,0,3,6,3,0,9,...,0,0,1,2,0,3,144,103,0,247

In [36]:
suicide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 70 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Category                                                       39 non-null     object
 1   State/UT                                                       39 non-null     object
 2   By Consuming Sleeping Pills - Male                             39 non-null     int64
 3   By Consuming Sleeping Pills - Female                           39 non-null     int64
 4   By Consuming Sleeping Pills - Transgender                      39 non-null     int64
 5   By Consuming Sleeping Pills - Total                            39 non-null     int64
 6   By Drowning - Male                                             39 non-null     int64
 7   By Drowning - Female                                           39 non-null     int64
 8   By Drowning - Transgender                                      39 non-null     int64
 9   By Drowning - Total                                            39 non-null     int64
 10  By Fire/Self Immolation - Male                                 39 non-null     int64
 11  By Fire/Self Immolation - Female                               39 non-null     int64
 12  By Fire/Self Immolation - Transgender                          39 non-null     int64
 13  By Fire/Self Immolation - Total                                39 non-null     int64
 14  By Firearms - Male                                             39 non-null     int64
 15  By Firearms - Female                                           39 non-null     int64
 16  By Firearms - Transgender                                      39 non-null     int64
 17  By Firearms - Total                                            39 non-null     int64
 18  By Hanging - Male                                              39 non-null     int64
 19  By Hanging - Female                                            39 non-null     int64
 20  By Hanging - Transgender                                       39 non-null     int64
 21  By Hanging - Total                                             39 non-null     int64
 22  By Poison (Total) - Male                                       39 non-null     int64
 23  By Poison (Total) - Female                                     39 non-null     int64
 24  By Poison (Total) - Transgender                                39 non-null     int64
 25  By Poison (Total) - Total                                      39 non-null     int64
 26  By Poison (By Consuming Insecticides) - Male                   39 non-null     int64
 27  By Poison (By Consuming Insecticides) - Female                 39 non-null     int64
 28  By Poison (By Consuming Insecticides) - Transgender            39 non-null     int64
 29  By Poison (By Consuming Insecticides) - Total                  39 non-null     int64
 30  By Poison (By Consuming other Poison) - Male                   39 non-null     int64
 31  By Poison (By Consuming other Poison) - Female                 39 non-null     int64
 32  By Poison (By Consuming other Poison) - Transgender            39 non-null     int64
 33  By Poison (By Consuming other Poison) - Total                  39 non-null     int64
 34  By Self Inflicting Injury - Male                               39 non-null     int64
 35  By Self Inflicting Injury - Female                             39 non-null     int64
 36  By Self Inflicting Injury - Transgender                        39 non-null     int64
 37  By Self Inflicting Injury - Total                              39 non-null     int64
 38  Jumping (Total) - Male                                         39 non-null     int64
 39  Jumping (Total) - Female                                       39 non-null     int64
 40  Jumping (Total) - Transgender                                  39 non-null     int64
 41  Jumping (Total) - Total                                        39 non-null     int64
 42  Jumping (from Building) - Male                                 39 non-null     int64
 43  Jumping (from Building) - Female                               39 non-null     int64
 44  Jumping (from Building) - Transgender                          39 non-null     int64
 45  Jumping (from Building) - Total                                39 non-null     int64
 46  Jumping (from Other Sites) - Male                              39 non-null     int64
 47  Jumping (from Other Sites) - Female                            39 non-null     int64
 48  Jumping (from Other Sites) - Transgender                       39 non-null     int64
 49  Jumping (from Other Sites) - Total                             39 non-null     int64
 50  Jumping (by Jumping off Moving Trains/Vehicles) - Male         39 non-null     int64
 51  Jumping (by Jumping off Moving Trains/Vehicles) - Female       39 non-null     int64
 52  Jumping (by Jumping off Moving Trains/Vehicles) - Transgender  39 non-null     int64
 53  Jumping (by Jumping off Moving Trains/Vehicles) - Total        39 non-null     int64
 54  By Coming under Running Vehicles/Trains - Male                 39 non-null     int64
 55  By Coming under Running Vehicles/Trains - Female               39 non-null     int64
 56  By Coming under Running Vehicles/Trains - Transgender          39 non-null     int64
 57  By Coming under Running Vehicles/Trains - Total                39 non-null     int64
 58  By Touching Electric Wire - Male                               39 non-null     int64
 59  By Touching Electric Wire - Female                             39 non-null     int64
 60  By Touching Electric Wire - Transgender                        39 non-null     int64
 61  By Touching Electric Wire - Total                              39 non-null     int64
 62  By Other Means - Male                                          39 non-null     int64
 63  By Other Means - Female                                        39 non-null     int64
 64  By Other Means - Transgender                                   39 non-null     int64
 65  By Other Means - Total                                         39 non-null     int64
 66  Total - Male                                                   39 non-null     int64
 67  Total - Female                                                 39 non-null     int64
 68  Total - Transgender                                            39 non-null     int64
 69  Total - Total                                                  39 non-null     int64
dtypes: int64(68), object(2)
memory usage: 21.5+ KB

In [37]:
suicide.columns

Index(['Category', 'State/UT', 'By Consuming Sleeping Pills - Male',
       'By Consuming Sleeping Pills - Female',
       'By Consuming Sleeping Pills - Transgender',
       'By Consuming Sleeping Pills - Total', 'By Drowning - Male',
       'By Drowning - Female', 'By Drowning - Transgender',
       'By Drowning - Total', 'By Fire/Self Immolation - Male',
       'By Fire/Self Immolation - Female',
       'By Fire/Self Immolation - Transgender',
       'By Fire/Self Immolation - Total', 'By Firearms - Male',
       'By Firearms - Female', 'By Firearms - Transgender',
       'By Firearms - Total', 'By Hanging - Male', 'By Hanging - Female',
       'By Hanging - Transgender', 'By Hanging - Total',
       'By Poison (Total) - Male', 'By Poison (Total) - Female',
       'By Poison (Total) - Transgender', 'By Poison (Total) - Total',
       'By Poison (By Consuming Insecticides) - Male',
       'By Poison (By Consuming Insecticides) - Female',
       'By Poison (By Consuming Insecticides) - Transgender',
       'By Poison (By Consuming Insecticides) - Total',
       'By Poison (By Consuming other Poison) - Male',
       'By Poison (By Consuming other Poison) - Female',
       'By Poison (By Consuming other Poison) - Transgender',
       'By Poison (By Consuming other Poison) - Total',
       'By Self Inflicting Injury - Male',
       'By Self Inflicting Injury - Female',
       'By Self Inflicting Injury - Transgender',
       'By Self Inflicting Injury - Total', 'Jumping (Total) - Male',
       'Jumping (Total) - Female', 'Jumping (Total) - Transgender',
       'Jumping (Total) - Total', 'Jumping (from Building) - Male',
       'Jumping (from Building) - Female',
       'Jumping (from Building) - Transgender',
       'Jumping (from Building) - Total', 'Jumping (from Other Sites) - Male',
       'Jumping (from Other Sites) - Female',
       'Jumping (from Other Sites) - Transgender',
       'Jumping (from Other Sites) - Total',
       'Jumping (by Jumping off Moving Trains/Vehicles) - Male',
       'Jumping (by Jumping off Moving Trains/Vehicles) - Female',
       'Jumping (by Jumping off Moving Trains/Vehicles) - Transgender',
       'Jumping (by Jumping off Moving Trains/Vehicles) - Total',
       'By Coming under Running Vehicles/Trains - Male',
       'By Coming under Running Vehicles/Trains - Female',
       'By Coming under Running Vehicles/Trains - Transgender',
       'By Coming under Running Vehicles/Trains - Total',
       'By Touching Electric Wire - Male',
       'By Touching Electric Wire - Female',
       'By Touching Electric Wire - Transgender',
       'By Touching Electric Wire - Total', 'By Other Means - Male',
       'By Other Means - Female', 'By Other Means - Transgender',
       'By Other Means - Total', 'Total - Male', 'Total - Female',
       'Total - Transgender', 'Total - Total'],
      dtype='object')

In [44]:
suicide.columns[5::3]
my_cols = ['State/UT'] + list(suicide.columns[5::3])

In [45]:
df = suicide[my_cols]
df

,State/UT,By Consuming Sleeping Pills - Total,By Drowning - Transgender,By Fire/Self Immolation - Female,By Firearms - Male,By Firearms - Total,By Hanging - Transgender,By Poison (Total) - Female,By Poison (By Consuming Insecticides) - Male,By Poison (By Consuming Insecticides) - Total,...,Jumping (Total) - Total,Jumping (from Building) - Transgender,Jumping (from Other Sites) - Female,Jumping (by Jumping off Moving Trains/Vehicles) - Male,Jumping (by Jumping off Moving Trains/Vehicles) - Total,By Coming under Running Vehicles/Trains - Transgender,By Touching Electric Wire - Female,By Other Means - Male,By Other Means - Total,Total - Transgender
0,Andhra Pradesh,44,0,47,3,4,0,894,1944,2449,...,55,0,0,2,2,0,1,37,47,0
1,Arunachal Pradesh,0,0,0,2,2,0,0,1,1,...,0,0,0,0,0,0,0,35,41,0
2,Assam,8,0,10,1,1,0,99,229,319,...,64,0,0,45,63,0,9,1,1,0
3,Bihar,55,0,9,6,21,0,67,83,147,...,10,0,0,0,0,0,0,0,0,0
4,Chhattisgarh,0,0,270,6,6,0,640,595,931,...,93,0,4,56,68,0,4,286,355,0
5,Goa,0,0,3,0,0,0,13,4,12,...,1,0,0,0,0,0,0,0,0,0
6,Gujarat,16,0,110,4,8,1,831,1340,2033,...,167,0,2,43,49,0,5,24,46,1
7,Haryana,2,0,23,6,6,0,167,146,207,...,52,0,6,8,9,0,9,845,1060,0
8,Himachal Pradesh,1,0,2,1,1,0,133,220,353,...,4,0,0,0,0,0,0,0,2,0
9,Jharkhand,7,0,6,5,5,0,120,249,369,...,67,0,0,52,66,0,2,1,1,0
10,Karnataka,17,0,73,10,12,3,709,1564,2066,...,90,0,1,8,9,0,4,269,335,3
11,Kerala,33,0,234,3,14,4,193,455,571,...,63,0,1,34,38,1,0,61,90,6
12,Madhya Pradesh,67,0,419,40,40,0,1426,1479,2361,...,169,0,4,96,113,0,46,336,473,0
13,Maharashtra,54,0,178,8,12,2,1048,3145,4054,...,215,0,5,28,31,0,9,121,297,3
14,Manipur,0,0,0,5,5,0,2,0,2,...,0,0,0,0,0,0,0,1,1,0
15,Meghalaya,1,0,1,1,1,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
16,Mizoram,0,0,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Nagaland,0,0,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Odisha,0,0,31,2,2,0,511,139,212,...,0,0,0,0,0,0,0,0,0,0
19,Punjab,2,0,8,31,34,0,166,378,497,...,17,0,0,0,0,0,0,20,25,0
20,Rajasthan,25,0,18,14,14,0,325,397,629,...,252,0,13,101,122,0,26,0,0,0
21,Sikkim,0,0,0,0,0,0,0,0,0,...,8,0,1,0,0,0,0,6,6,0
22,Tamil Nadu,107,0,554,4,4,5,2056,3355,4749,...,50,0,0,0,1,0,8,3,5,10
23,Telangana,28,0,86,1,1,0,1025,2621,3491,...,95,0,0,0,0,0,0,38,46,2
24,Tripura,0,0,18,7,7,0,27,42,66,...,1,0,0,0,0,0,0,0,0,0
25,Uttar Pradesh,178,0,85,97,136,0,322,277,442,...,170,0,10,38,64,0,36,307,469,0
26,Uttarakhand,0,0,12,18,18,0,63,27,44,...,15,0,0,9,14,0,0,2,2,0
27,West Bengal,8,1,224,1,1,0,786,292,482,...,30,0,0,15,21,0,4,3113,5097,1
28,Total (States),653,1,2421,280,359,15,11623,18982,26487,...,1690,0,47,535,670,1,163,5506,8399,26
29,Andaman and Nicobar Islands,0,0,1,0,0,0,6,12,18,...,1,0,0,0,0,0,0,0,0,0
30,Chandigarh,0,0,1,0,0,0,13,0,0,...,2,0,0,0,0,0,0,1,4,0
31,Dadra and Nagar Haveli and Daman and Diu,0,0,1,0,0,0,5,21,25,...,3,0,0,0,0,0,0,0,0,0
32,Delhi,81,0,7,10,16,1,68,72,94,...,53,0,0,6,8,0,0,130,177,1
33,Jammu and Kashmir,3,0,0,11,11,0,58,24,50,...,5,0,2,0,2,0,0,1,3,0
34,Ladakh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3,0
35,Lakshadweep,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Puducherry,0,0,4,0,0,1,11,0,0,...,3,0,0,2,2,0,0,87,132,1
37,Total (UTs),84,0,14,21,27,2,161,129,187,...,67,0,2,8,12,0,0,222,319,2
38,Total (All India),737,1,2435,301,386,17,11784,19111,26674,...,1757,0,49,543,682,1,163,5728,8718,28

In [46]:
df.to_csv(r'suicide_data/suicide_data.csv')
# df.to_csv(r'suicide_data/suicide_data.csv',index = False)

In [47]:
read_file =pd.read_csv('suicide_data/suicide_data.csv', index_col=0)

In [48]:
read_file

,State/UT,By Consuming Sleeping Pills - Total,By Drowning - Transgender,By Fire/Self Immolation - Female,By Firearms - Male,By Firearms - Total,By Hanging - Transgender,By Poison (Total) - Female,By Poison (By Consuming Insecticides) - Male,By Poison (By Consuming Insecticides) - Total,...,Jumping (Total) - Total,Jumping (from Building) - Transgender,Jumping (from Other Sites) - Female,Jumping (by Jumping off Moving Trains/Vehicles) - Male,Jumping (by Jumping off Moving Trains/Vehicles) - Total,By Coming under Running Vehicles/Trains - Transgender,By Touching Electric Wire - Female,By Other Means - Male,By Other Means - Total,Total - Transgender
0,Andhra Pradesh,44,0,47,3,4,0,894,1944,2449,...,55,0,0,2,2,0,1,37,47,0
1,Arunachal Pradesh,0,0,0,2,2,0,0,1,1,...,0,0,0,0,0,0,0,35,41,0
2,Assam,8,0,10,1,1,0,99,229,319,...,64,0,0,45,63,0,9,1,1,0
3,Bihar,55,0,9,6,21,0,67,83,147,...,10,0,0,0,0,0,0,0,0,0
4,Chhattisgarh,0,0,270,6,6,0,640,595,931,...,93,0,4,56,68,0,4,286,355,0
5,Goa,0,0,3,0,0,0,13,4,12,...,1,0,0,0,0,0,0,0,0,0
6,Gujarat,16,0,110,4,8,1,831,1340,2033,...,167,0,2,43,49,0,5,24,46,1
7,Haryana,2,0,23,6,6,0,167,146,207,...,52,0,6,8,9,0,9,845,1060,0
8,Himachal Pradesh,1,0,2,1,1,0,133,220,353,...,4,0,0,0,0,0,0,0,2,0
9,Jharkhand,7,0,6,5,5,0,120,249,369,...,67,0,0,52,66,0,2,1,1,0
10,Karnataka,17,0,73,10,12,3,709,1564,2066,...,90,0,1,8,9,0,4,269,335,3
11,Kerala,33,0,234,3,14,4,193,455,571,...,63,0,1,34,38,1,0,61,90,6
12,Madhya Pradesh,67,0,419,40,40,0,1426,1479,2361,...,169,0,4,96,113,0,46,336,473,0
13,Maharashtra,54,0,178,8,12,2,1048,3145,4054,...,215,0,5,28,31,0,9,121,297,3
14,Manipur,0,0,0,5,5,0,2,0,2,...,0,0,0,0,0,0,0,1,1,0
15,Meghalaya,1,0,1,1,1,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
16,Mizoram,0,0,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Nagaland,0,0,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Odisha,0,0,31,2,2,0,511,139,212,...,0,0,0,0,0,0,0,0,0,0
19,Punjab,2,0,8,31,34,0,166,378,497,...,17,0,0,0,0,0,0,20,25,0
20,Rajasthan,25,0,18,14,14,0,325,397,629,...,252,0,13,101,122,0,26,0,0,0
21,Sikkim,0,0,0,0,0,0,0,0,0,...,8,0,1,0,0,0,0,6,6,0
22,Tamil Nadu,107,0,554,4,4,5,2056,3355,4749,...,50,0,0,0,1,0,8,3,5,10
23,Telangana,28,0,86,1,1,0,1025,2621,3491,...,95,0,0,0,0,0,0,38,46,2
24,Tripura,0,0,18,7,7,0,27,42,66,...,1,0,0,0,0,0,0,0,0,0
25,Uttar Pradesh,178,0,85,97,136,0,322,277,442,...,170,0,10,38,64,0,36,307,469,0
26,Uttarakhand,0,0,12,18,18,0,63,27,44,...,15,0,0,9,14,0,0,2,2,0
27,West Bengal,8,1,224,1,1,0,786,292,482,...,30,0,0,15,21,0,4,3113,5097,1
28,Total (States),653,1,2421,280,359,15,11623,18982,26487,...,1690,0,47,535,670,1,163,5506,8399,26
29,Andaman and Nicobar Islands,0,0,1,0,0,0,6,12,18,...,1,0,0,0,0,0,0,0,0,0
30,Chandigarh,0,0,1,0,0,0,13,0,0,...,2,0,0,0,0,0,0,1,4,0
31,Dadra and Nagar Haveli and Daman and Diu,0,0,1,0,0,0,5,21,25,...,3,0,0,0,0,0,0,0,0,0
32,Delhi,81,0,7,10,16,1,68,72,94,...,53,0,0,6,8,0,0,130,177,1
33,Jammu and Kashmir,3,0,0,11,11,0,58,24,50,...,5,0,2,0,2,0,0,1,3,0
34,Ladakh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3,0
35,Lakshadweep,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Puducherry,0,0,4,0,0,1,11,0,0,...,3,0,0,2,2,0,0,87,132,1
37,Total (UTs),84,0,14,21,27,2,161,129,187,...,67,0,2,8,12,0,0,222,319,2
38,Total (All India),737,1,2435,301,386,17,11784,19111,26674,...,1757,0,49,543,682,1,163,5728,8718,28